.companies{
    padding: 50px 0;
}

.companiesimages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.companies img {
    height: 90px;
    width: 20%;
    margin: 0 20px;
}

@media screen and (max-width:600px) {
    .companiesimages {
        gap: 10px;
    }

    .companies img {
        width: 24%;
        margin: 0 15px;
        height: 60px;
    }
}