.companies{
    padding: 50px 0;
    /* background-color: white; */
}

.companiesimages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 97%;
   
}

.companies img {
    height: 80px;
    width: 14%;
    margin: 0 55px;
   
}

@media screen and (max-width:600px) {
    .companiesimages {
        gap: 10px;
    }

    .companies img {
        width: 26%;
        margin: 0 10px;
        height: 55px;
    }
}