.curriculumsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curriculumdiv{
    width: 70%;
}

.curriculumdiv h3{
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
}

.curriculumdesc{
    background: #eee;
    border-radius: 10px;
    width: 70%;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
}

.curriculumdesc p{
    margin-bottom: 0;
}

@media screen and (max-width:600px) {
    .curriculumdiv{
        width: 95%;
    }
    .curriculumdesc{
        width: 95%;
    }
}